* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  min-height: 100%;
  height: 100%;
  background: #13181b;
}

.pane-container {
  width: 100%;
  height: calc(100% - 35px);
  display: flex;
  justify-items: center;
  align-items: center;
}

footer {
  color: #dfdfdf;
  margin: 8px;
}

footer a {
  color: #5e53a7;
}

footer a:visited {
  color: #5e53a7;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}